<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- AI功能网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication1"
        tools:targetApi="31">
        
        <!-- Login Activity - Entry Point -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Activity - News Home -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication1" />
            
        <!-- Post News Activity -->
        <activity
            android:name=".PostNewsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication1" />
            
        <!-- News Detail Activity -->
        <activity
            android:name=".NewsDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication1" />
            
        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication1" />
            
        <!-- My News Activity -->
        <activity
            android:name=".MyNewsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication1" />
            
        <!-- My Drafts Activity -->
        <activity
            android:name=".MyDraftsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication1" />
            
        <!-- Review Management Activity - Admin Only -->
        <activity
            android:name=".ReviewManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication1" />
            
        <!-- Review Detail Activity - Admin Only -->
        <activity
            android:name=".ReviewDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication1" />
        
    </application>

</manifest>